
<p-accordion>
  @for (doc of documents; track doc.id) {
    <p-accordion-panel [value]="doc.id.toString()">
      <p-accordion-header>
  <div class="header-row">
    <div class="left-group">
      <span>ID: {{ doc.id }}</span>
      <span>Nome del documento: {{ doc.name }}</span>
      <span>Pagine: {{ doc.pages }}</span>
    </div>

    <div class="right-group">
      <span>Stato:</span>
      <p-tag
        [value]="doc.state"
        [class]="getSeverity(doc.state)"
        [rounded]="true"
      ></p-tag>
    </div>
  </div>
</p-accordion-header>
      <p-accordion-content
        ><app-tables
          [RisultatoFiltrato]="doc.ResultSplit"
          [columns]="columns"
          [items]="items"
          [class]="class"
        ></app-tables
      ></p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
