
<p-accordion [(value)]="activeValues" [multiple]="true">
  @for (doc of documents; track doc.id) {
    <p-accordion-panel [value]="doc.id!.toString()">
      <p-accordion-header>
  <div class="header-row">
    <div class="left-group">
      <span>ID: {{ doc.id }}</span>
      <span>Nome del documento: {{ doc.name }}</span>
      <span>Pagine: {{ doc.pages }}</span>
      @if (doc.state === 'Failed') {
        <app-button [label]="ButtonLabel" (action)="onRetryButtonClick(doc.id!)"></app-button>
      }
    </div>

    <div class="right-group">
      <span>Stato:</span>
      <p-tag
        [value]="doc.state"
        [class]="getSeverity(doc.state)"
        [rounded]="true"
      ></p-tag>
    </div>
  </div>
</p-accordion-header>
      <p-accordion-content
        ><app-tables
          [risultatoFiltrato]="doc.ResultSplit"
          [columns]="columns"
          [items]="items"
          [class]="class"
          (menuAction)="onTableMenuAction($event)"
          (rowRemoved)="onRowRemoved($event)"
        ></app-tables
      ></p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
