/* Base comune */
:host ::ng-deep .p-tag {
  font-weight: 600;
  border-radius: 12px;
  padding: 0.25rem 0.6rem;
}

/* Completato - verde */
:host ::ng-deep .class-success {
  background-color: #d1fae5;
  color: #065f46;
}

/* In elaborazione - giallo */
:host ::ng-deep .class-elaboration {
  background-color: #fef3c7;
  color: #92400e;
}

/* In coda - blu */
:host ::ng-deep .class-pending {
  background-color: #dbeafe;
  color: #1e3a8a;
}

/* Default - grigio */
:host ::ng-deep .class-default {
  background-color: #e5e7eb;
  color: #374151;
}
.header-row {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 0.875rem;
}

/* gruppo sinistro */
.left-group {
  display: flex;
  gap: 2rem; /* spazio tra ID, nome, pagine */
}

/* gruppo destro (spinto a destra) */
.right-group {
  margin-left: auto; /* 🔥 chiave per mandarlo a destra */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}