:host ::ng-deep p-fileupload .p-fileupload-basic-content>span {
    display: none !important;
}

.btn-upload {
    padding: var(--p-button-padding-y) var(--p-button-padding-x);
    border-radius: var(--btn-border-radius) !important;
    font-size: var(--btn-body-font-size) !important;
    background: none;
    border: var(--txt-color) 1px solid;
    color: var(--txt-color) !important;

}

:host ::ng-deep .btn-icon .p-button {
    background: none !important;
    border: none !important;
    padding: 0.3rem !important;
    color: var(--p-button-secondary-hover-background) !important;
    transition: color 0.2s ease-in-out !important;
}

:host ::ng-deep .btn-icon .p-button:hover {
    color: var(--txt-color) !important;
}