:host ::ng-deep .p-dialog .p-dialog-content {
  padding-top: 0.5rem;
}


input, textarea{
  font-size: 0.875rem;
}

.field-input:focus,
.field-textarea:focus {
  border-color: var(--txt-color);
}

.field-input-error {
  border-color: #d92d20;
}

.error {
  color: #d92d20;
  font-size: 0.75rem;
}


