<div class="upload-wrapper">
  <p-fileUpload
    name="files[]"
    [multiple]="multiple"
    [accept]="accept"
    [maxFileSize]="maxFileSize"
    (onSelect)="onPrimeSelect($event)"
    (onRemove)="onPrimeRemove($event)"
    (onClear)="onPrimeClear()"
    styleClass="custom-p-fileupload">

    <ng-template pTemplate="empty">
      <div class="empty-drop-area" (click)="triggerClick()">
        <input
          #nativeFileInput
          class="native-file-input"
          type="file"
          [attr.accept]="accept"
          [attr.multiple]="multiple ? '' : null"
          (change)="onNativeSelect($event)" />
        <i class="pi pi-upload"></i>
        <div class="text-container">
            <span class="title">{{ titleText }}</span>
            <span class="subtitle">{{ subtitleText }}</span>
        </div>
      </div>
    </ng-template>

  </p-fileUpload>
</div>
