<p-accordion value="0">
  <p-accordion-panel value="0">
    <p-accordion-header>Ai Assistant Generativo</p-accordion-header>
    <p-accordion-content>
      <div class="Generico">
        <div class="labels-datepicker">
          <div class="label-container">
            @if (aiAssistantMetrics$ | async; as aiAssistantMetrics) {
              @if (aiAssistantMetrics.length > 0) {
                @for (data of aiAssistantMetrics; track data.label) {
                  <div class="card item">
                    <label class="label">{{ data.label }}</label>
                    <p-card class="p-data-body">
                      <div class="data-container">
                        <span class="data-value">{{ data.value }}</span>
                      </div>
                    </p-card>
                  </div>
                }
              } @else {
                <div class="no-data-message">
                  Non ci sono dati sufficienti per le analisi
                </div>
              }
            }
          </div>
          <div class="DatePicker Container">
            <label class="label">Quando:</label>
            <app-date-range-picker
              [periodoOptions]="periodoOptions"
              (rangeChange)="onAiAssistantRangeChange($event)"
            ></app-date-range-picker>
          </div>
        </div>
        <div class="Charts-Container">
          <div class="chart">
            <label class="label"> Toni più usati</label>
            @if (aiAssistantToneChart$ | async; as toneChart) {
              @if (toneChart.labels.length === 0) {
                <div class="no-data-message">
                  Non ci sono dati sufficienti per le analisi
                </div>
              }
              <app-analytics-charts
                [labels]="toneChart.labels"
                [dataValues]="toneChart.values"
                datasetLabel="Toni più usati"
              ></app-analytics-charts>
            }
          </div>
          <div class="Chart">
            <label class="label"> Stili più usati</label>
            @if (aiAssistantStyleChart$ | async; as styleChart) {
              @if (styleChart.labels.length === 0) {
                <div class="no-data-message">
                  Non ci sono dati sufficienti per le analisi
                </div>
              }
              <app-analytics-charts
                [labels]="styleChart.labels"
                [dataValues]="styleChart.values"
                datasetLabel="Stili più usati"
              ></app-analytics-charts>
            }
          </div>
        </div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="1">
    <p-accordion-header>Ai Co-Pilot</p-accordion-header>
    <p-accordion-content>
      <div class="Generico">
        <div class="labels-datepicker">
          <div class="label-container">
            @if (aiCoPilotMetrics$ | async; as aiCoPilotMetrics) {
              @if (aiCoPilotMetrics.length > 0) {
                @for (data of aiCoPilotMetrics; track data.label) {
                  <div class="card item">
                    <label class="label">{{ data.label }}</label>
                    <p-card class="p-data-body">
                      <div class="data-container">
                        <span class="data-value">{{ data.value }}</span>
                      </div>
                    </p-card>
                  </div>
                }
              } @else {
                <div class="no-data-message">
                  Non ci sono dati sufficienti per le analisi
                </div>
              }
            }
          </div>
          <div class="DatePicker-Container">
            <label class="label">Quando:</label>
            <app-date-range-picker
              [periodoOptions]="periodoOptions"
              (rangeChange)="onAiCoPilotRangeChange($event)"
            ></app-date-range-picker>
          </div>
        </div>
      </div>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
