a {
    text-decoration: none;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: color 0.3s ease, text-decoration-color 0.3s ease;
}

a + i {
    margin-left: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

a:hover {
    text-decoration-color: currentColor;
}

a:hover + i {
    opacity: 1;
    visibility: visible;
}
.p-tag-pronto{
    color:white ;
    background: var(--p-tag-pronto-background);
}
.p-tag-inviato{
    color:white ;
    background: var(--p-tag-inviato-background);
}
.p-tag-programmato{
    color:white ;
    background: var(--p-tag-programmato-background);
}
.p-tag-validare{
    color:white ;
    background: var(--p-tag-validare-background);
}
.p-tag-default{
    color:white ;
    background: var(--p-tag-default-background);
}
