<div class="card">
  <p-table
    [value]="risultatoFiltrato"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (col of columns; track col.field) {
          <th [style.width.%]="(100 - 8) / columns.length" [pSortableColumn]="col.field">
            {{ col.header }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        }
        <th style="width: 8%">Azioni</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        @for (col of columns; track col.field) {
          <td>
            @if (col.type === 'date') {
              {{ row[col.field] | date: 'dd/MM/yyyy' }}
            } @else if (col.type === 'rating' || col.field === 'evaluation' || col.field === 'rating') {
              {{ row[col.field] === -1 ? 'Non valutato' : row[col.field] }}
            } @else if (col.type === 'confidence' || col.field === 'confidence') {
              {{ row[col.field] }}%
            } @else if (col.field === 'State' || col.field === 'state') {
              @if(row[col.field].toLowerCase() === 'pronto'){
                 <p-tag [value]="row[col.field]" class="p-tag-pronto"></p-tag>
              }
              @else if(row[col.field].toLowerCase() === 'inviato'){
                 <p-tag [value]="row[col.field]" class="p-tag-inviato"></p-tag>
              }
              @else if(row[col.field].toLowerCase() === 'da validare'){
                 <p-tag [value]="row[col.field]" class="p-tag-programmato"></p-tag>
              }
              @else if(row[col.field].toLowerCase() === 'programmato'){
                 <p-tag [value]="row[col.field]" class="p-tag-validare"></p-tag>
              }
              @else{
                 <p-tag [value]="row[col.field]" class="p-tag-default"></p-tag>
              }
            } @else if (col.field === 'tone' || col.field === 'style') {
                <span class="truncate-content" [title]="row[col.field]?.name">
                  {{ row[col.field]?.name }}
                </span>
            } @else if (col.field === 'title') {
                <a href="#" class="truncate-content" [title]="getPlainCellText(row, col)" (click)="$event.preventDefault(); onTitleClick(row)">
                  {{ getPlainCellText(row, col) }}
                </a>
                <i class="pi pi-link"></i>
            } @else {
                <span class="truncate-content" [title]="getPlainCellText(row, col)">
                  {{ getPlainCellText(row, col) }}
                </span>
            }
          </td>
        }
        <td>
          <p-menu #menu [model]="rowMenuItems" [popup]="true" appendTo="body"></p-menu>
          <p-button (click)="openRowMenu(menu, $event, row)" icon="pi pi-ellipsis-h"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + 1" class="text-center">
          Nessun dato disponibile
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
