<div class="d-flex flex-column h-100">
    <div class="d-flex gap-3 mb-2 justify-content-end menu-row">
        <menutendina [options]="(templates$ | async) || []" [selected]="selectedTemplate" (selectedChange)="onTemplateSelected($event)" label="Template" placeholder="Seleziona un template" [addButtonLabel]="'Nuovo template'" (addNew)="openAddDialog('template')"></menutendina>
    </div>
    <div class="mb-2">
        <app-prompt label="Messaggio" [prompt]="messaggio" [value]="messaggio" (promptChange)="messaggio = $event" [placeholder]="'Usa un template o scrivi un messaggio personalizzato'" [autoResize]="true"></app-prompt>
    </div>
    <div class="mb-4">
        <div class="d-flex align-items-center gap-2">
        <i class="pi pi-clock fs-4"></i>
        
        <menutendina 
            [options]="timeOptions" 
            [(selected)]="selectedTime" 
            class="w-100"
            placeholder="Programma invio">
        </menutendina>
    </div>
    </div>
    <div class="mt-auto mb-2 d-flex gap-3 justify-content-end">
        <app-button label="Annulla invio" class="btn-secondary" (action)="closeDialog()" />
        <app-button label="Conferma invio" class="btn-primary" (action)="confirmDialog()" />
    </div>
</div>
<app-add-dialog [(visible)]="addDialogVisible" [type]="addDialogType" (saveRequested)="handleAddSave($event)"></app-add-dialog>
